body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #403636;
    background: rgb(39, 40, 34);
    color:white;
}

.jumbotron h1 {
    line-height: 1;
    color: white;
    background-color: #403636;
    background: rgb(39, 40, 34);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

select {
    width : 160px ;
}

.title-text {
    margin:0 0 5% 0;
}
